/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* utilities */
.container{
    width: 1400px;
    margin: 0 auto;
}

.mt-50 {
    margin-top: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.mr-5 {
    margin-right: 5px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* header */
.brand img {
    width: 160px;
}

.text1 {
    color: #adadad;
    font-size: 18px;
}

.brand li {
    display: inline-block;
    text-transform: uppercase;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

.menu ul:hover li{
    color: #000;
    text-decoration: underline;
}

/* main */

.content-high {
    position: relative;
}

.image1{
    height: 550px;
    background-image: url(../img/banner.jpg);
}

.text-presentation {
    position: absolute;
    bottom: 70px;
    left: 90px;
    color: #ffff;
    width: 100%;
}

.text-modify-1 {
    font-size: 30px;
    font-weight: 400
}

.high-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.image-setup  {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color;
    background-size: cover;
    background-position-y: center;
    border-radius: 20px;
}

.title-card {
    margin: 20px 0;
    font-weight: 400;
}

.image2 {
    background-image: url(../img/img-1.jpg);
    height: 230px;
}

.image3 {
    background-image: url(../img/banner-2.jpg);
    height: 230px;
}

.image4 {
    background-image: url(../img/img-3.jpg);
    height: 230px;
    background-position: top;
}

.sidebar,
.middle-float {
    float: left;
}

.middle-float {
    width: 60%;
}

.sidebar {
    width: 20%;
}

/* footer */
footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer > span {
    color: red;
    font-size: 25px;
    vertical-align: sub;
}